/* start global value  */
.title .main-title {
    margin: 0px 70px;
    color: white;
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 25px;
    text-transform: uppercase;
}
.title p {
    text-align: center;
    margin-right: 400px;
    color: white;
    font-size: 13px;
}
.title p i {
  font-size: 20px;
  color: red;
}
.main-title span {
    font-size: 65px;
    color: var(--main-color);
}
:root {
    --main-color: red;
    --secondrely-color: blue;
    --main-transition:0.3s  ;
    --main-padding-top: 70px;
    --main-padding-bottom: 70px;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    margin: 0;
    padding: 0;
} 
ul {list-style: none;}
a {text-decoration: none;}
body {
    font-family: 'Cairo', sans-serif;
}
.container {
    width: 90%;
    height: 90%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 70px 0px;
    padding: 20px 100px;
    z-index: 100;
    overflow: hidden;
}
head {scroll-behavior: smooth;}
@media (min-width : 768px) { 
    .container { 
        width: 750px; 
    }
} 
@media (min-width : 992px) { 
    .container { 
        width: 970px;
    } 
} 
@media (min-width : 1200px) { 
    .container { 
        width: 1170px; 
    }
}
  /* end global value  */


/* Start Home .... */
.home {
    background: linear-gradient(#111,#222);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 25px;
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: cursive;
}
.logo span{
  font-size: 60px;
}
.home nav ul {
    display: flex;
    justify-items: center;
    align-items: center;
}
.home nav ul li {
    margin-left: 20px;
}
.home nav ul li:first-child {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 0px 20px;
}
.home nav ul li a{
    color: white;
    transition: var(--main-transition);
}
.home nav ul li a:hover {
    color: var(--main-color);
    font-size: 25px;
    letter-spacing: 2px;
}
.home .content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .text {
    color: white;
    width: 40%;
}
.home .text h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
}
.home .text p {
    line-height: 1.7;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.home .text p span{
    color: var(--main-color);
    font-family: cursive;
}
.home .text p a{
    color: var(--main-color);
}
.home .img {
    width: 50%;
}
.home .img::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  background-color: rgb(255 255 255 /20%);
  opacity: 0;
  z-index: 2;
}
.home .img:hover::before {
  animation: flashing 0.7s;
}
.home .img img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 40px 0px;
}
.go-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
  font-size: 30px;
  transition: var(--main-transition);
  z-index: 1000;
}
.home .go-down i {
  animation: bouncing 1.5s linear infinite;
}
.home .go-down:hover {
  color: white;
}
@keyframes bouncing {
  0%, 10% ,20% ,50% ,80%, 100% {
      transform: translateY(0);
  }
  40% , 60% {
      transform: translateY(-15px);
  }
}
/* End Home .... */
  .boxes{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: linear-gradient(#111,#222);
    width: 100%;
  }
  .boxes .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
    margin-top: 20px;
  }
  .boxes .box {
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
  }
  .boxes .box img {
    display: inherit;
    background: #fff;
    width: 100%;
    height: 300px;
    max-width: 100%;
    transition: var(--main-transition);
    border: 2px solid #ccc;
    padding: 3px;
  }
.boxes .box:hover img {
    transform: rotate(5deg) scale(1.1);
}
@keyframes flashing {
  0% , 40% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      width: 200%;
      height: 200%;
  }
}
  .boxes .box-add button {
    cursor: pointer;
    width: 80%;
    height: 59px;
    border-radius: 30px 0px;
    border: none;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transform: translateX(100px);
    transition: var(--main-transition);
  }
  .boxes .box-add button i {
    font-size: 25px;
    margin-right: 5px;
    color: var(--main-color);
  }
  .boxes .box-add button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
  }
  .popup-text {
    font-family: cursive;
    position: fixed;
    z-index: 1001;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    width: 55%;
    margin-right: 20px;
    padding: 10px;
    border-radius: 30px 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: 0;
    height: 88%;
  }
  .popup-text .id {
    font-size: 18px;
    padding: 0;
  }
  .popup-text p {
    margin: 15px;
    padding: 2px;
  }
  .popup-text span {
    font-size: 20px;
    padding: 0px 20px;
    text-transform: uppercase;
    color: greenyellow;
  }
  .popup-box .color1 , .popup-box .color2 , .popup-box .color3 {
    color: white;
    padding: 0px;
    font-size: 17px;
  }
  .popup-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .popup-overlay-login ,
  .popup-overlay-finish ,
  .popup-overlay-complete{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .popup-box ,.popup-box-login ,
  .popup-box-finish , .popup-box-complete{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-65%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    width: 400px;
    height: 400px;
    border-radius: 30px 0 ;
  }
  .popup-box {
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  .popup-box img {
    width: 40%;
    height: 350px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 30px 0px;
  }
  .popup-box-login {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .popup-box-login .loginTitle ,
  .finifshTitle{
    color: var(--main-color);
    font-size: 25px;
    letter-spacing: 3px;
    font-family: cursive;
    margin: 10px auto;
  }
  .popup-box-login .UserInptut ,
  .popup-box-login .PassInptut {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    font-family: cursive;
    border-radius: 10px;
    border: none;
    outline: none
  }
  .popup-box-login .UserInptut::placeholder {
    color: red;
    font-family: cursive;
  }
  .popup-box-login .UserInptut:focus {
    color: white;
    font-family: cursive;
  }
  .popup-box-login  #wrong {
    font-size: 20px;
    color: #cd2626;
    font-weight: bold;
    text-transform: capitalize;
  }
  .popup-box-login  #wait {
    font-size: 20px;
    color: #cd2626;
    font-weight: bold;
    text-transform: capitalize;
  }
  .popup-box-login .loginButton ,
  .popup-box-finish button{
    cursor: pointer;
    width: 100%;
    padding: 7px;
    margin: 20px 0px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 10px;
    font-family: cursive;
  }
  .popup-box-login .UserInptut:hover ,
  .popup-box-login .PassInptut:hover ,
  .popup-box-login .loginButton:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  .div {
    width: 100%;
    color: greenyellow;
    font-family: cursive;
    font-size: 19px;
    text-transform: uppercase;
  }
  .closeButton {
    position: absolute;
    top: -41px;
    right: -41px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    padding: 8px;
    width: 40px;
    height: 39px;
    border-radius: 10px 0px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .boxes div .addTitle ,
  .Visa-Form .visaTitle {
    text-align: center;
    color: white;
    font-family: cursive;
    padding: 10px;
    background-color: red;
    width: 300px;
    transform: translate(207%,-6px);
    border-radius: 20px 0px;
  }
  .addForm {
    display: none;
    margin-top: 30px;
  }
  .form {
    width: 430px;
    transform: translateX(95%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px 0;
    border: 1px solid white;
  }
  .form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    text-transform: uppercase;
    padding: 10px;
  }
  .addForm .size {
    display: none;
  }
  .form div label {
    color: white;
  }
  .form div input {
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    font-family: cursive;
    border-radius: 10px 0px;
    border: none;
    outline: none
  }
  .form .addNew ,
  .form .addSize{
    cursor: pointer;
    width: 80%;
    padding: 7px;
    margin: 20px 0px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px 0px;
    transform: translateX(10%);
    font-family: cursive;
  }
  /* ==============Curds============== */
  .curds i {
    font-size: 18px;
    margin-right: 5px ;
  }
  .cruds{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: linear-gradient(#111,#222);
    width: 100%;
    text-align: left;
  }
.cruds .head {
  display: flex;
  justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.cruds .head .img img {
  display: none;
  width: 180px;
  border: 4px solid white;
  border-radius: 30px 0px;
}
.cruds .inputs div {
  margin: 15px;
}
.cruds input ,
.cruds label ,
.cruds .priceInput{
    background-color: #111;
    width: 90%;
    height: 30px;
    outline: none;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 8px;
}
.cruds label ,
.cruds .priceInput{
  text-align: center;
}
.cruds input:focus{
    background: #000;
    transform: scale(1.1);
}
.cruds #count {
  width: 80%;
}
.cruds #total {
    background-color: #a00d0a;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
}
.cruds #total::before {
    content: "Total: " ;
}
.cruds .inputs .radioDiv label {
  transition:var(--main-transition);
}
.cruds .inputs .radioDiv .color {
  background-color: red;
}
.cruds .inputs .radioDiv label:not(.color):hover {
  background-color: red;
  letter-spacing: 2px;
}
.cruds .inputs #sizes {
  display: flex;
}
.cruds .inputs #sizes label {
  width: 50%;
  background: var(--main-color);
  margin-right: 15px;
  text-transform: capitalize;
}
.cruds .inputs #sizes label span {
  color: white;
  font-size: 20px;
}
.cruds button {
    margin: 10px;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.cruds button:hover {
    background-color: white;
    color: red;
    letter-spacing: 1.5px;
}
.cruds .outputs .btnSearch {
    display: flex;
    justify-content: space-between;
}
.outputs .btnSearch button {
    width: 45%;
}
.outputs #deleteAll {
    margin: 10px 0px;
}
.outputs table {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}
.outputs table th {
    text-transform: uppercase;
    color: white;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 10px 0px;
    padding: 5px;
}
.outputs table td {
  padding: 5px;
  color: white;
  font-size: 20px;
}
.outputs table img{
  width: 100px;
  border: 2px solid white;
  border-radius: 30px 0px;
}
.outputs #finish {
  display: none;
}
.popup-box-finish {
  background-color: rgba(0, 0, 0, 0.9);
}
.popup-box-finish .number ,
.popup-box-finish .totalPrice {
  color: white;
    padding: 10px 0px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: cursive;
}
.popup-box-finish .number span ,
.popup-box-finish .totalPrice span {
  color: var(--main-color);
    font-weight: bold;
    font-size: 22px;
}
.popup-box-finish button {
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--main-transition);
}
.popup-box-finish button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  letter-spacing: 3px;
}
.paypal {
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
    width: 56%;
    transform: translateX(50%);
    padding: 20px;
    color: white;
    font-size: 26px;
    font-family: cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 1.7;
    border-radius: 30px 0px;
}
.paypal p span {
  color: var(--main-color);
}
.Visa-Form {
  width: 70%;
  display: none;
}
.Visa-Form .title {
  position:relative;
  border-radius: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  border: 2px solid white;
  transform: translate(100px,px);
}
.Visa-Form .title .closeButton {
  top: -2px;
  right: -1px;
  border-radius: 0px 27px;
  border: 2px solid;
}
.Visa-Form .visaTitle {
  transform: translate(0px,0px);
  background-color: transparent;
  color: white;
  font-size: 25px;
}
.Visa-Form img {
  width: 70px;
}
.Visa-Form .form {
  margin: 10px -400px;
  width: 100%;
  border-radius: 0px 30px;
}
.Visa-Form .form div {
  display: flex;
  flex-direction: column;
}
.Visa-Form .form div label{
  background: transparent;
  text-align: initial;
  font-size: 21px;
  margin-bottom: 3px;
}
.Visa-Form .form div input {
  padding: 20px 5px;
  border-radius: 0px 20px;
}
.personalInfo {
  color: white;
    border: 2px dashed;
    width: 35%;
    padding: 10px;
    text-align: center;
    margin-left: 44px;
}
.Visa-Form .payNow {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px 30px;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(100px);
}
.Visa-Form .payNow:hover ,
.Visa-Form div input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.Visa-Form .form div input:focus {
  background-color: rgba(255,255,255,0.1);
}
.popup-box-complete {
  background-color: white;
  text-align: center;
} 
.popup-box-complete img {
  position: relative;
  width: 190px;
  transform: translate(0,-80%);
  top: 50%;
}
.popup-box-complete .finish {
  margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #069b06;
}
.popup-box-complete .connect {
  text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
}
.popup-box-complete .div {
  margin-top: 20px;
  color: #069b06;
}
   /* ============footer============== */
  .footer {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background: linear-gradient(#111,#222);
    width: 100%;
    text-align: center;
  }
  .footer .statement {
    color: white;
    font-size: 20px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: cursive;
  }
  .footer .social div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    color: white;
    gap: 10px;
  }
  .footer div i {
    color: var(--main-color);
    font-size: 25px;
    transition: var(--main-transition);
  }
  .footer div i:hover {
    transform: translateY(-10px);
    color: white;
  }
  .footer .copy {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }
  .footer .copy span {
    color: var(--main-color);
    font-size: 30px;
    cursor:pointer;
    transition: var(--main-transition);
  }
  .footer .SalehInfo {
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    border-radius: 30px 0px;
    border: 1px solid white;
    transform: translateX(173px);
    position: relative;
  }
  .footer .SalehInfo div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    color: white;
    gap: 10px;
  }
  .footer #infoClose {
    top: -1px;
    right: -1px;
  }